<!-- 静的ファイル(./static/polls/*)を読み込む -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_questions %}
  <ul>
    {% for question in latest_questions %}
      {% comment %}
        /polls/{{ question.id }}/とすることもできるが、その場合リンク先の頭にスラッシュを入れ忘れないように注意
        （入れ忘れると"/polls/polls/<question.id>"に飛ぶ）
        URLがハードコーディングされているので、チュートリアル中ではよくない例として紹介されていたし、
        何より単純に書きにくいので使わない方がよさそう…
      {% endcomment %}
      <li>
        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>:
        {{ question.pub_date }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No polls are available.</p>
{% endif %}

{% lorem 3 p random %}
